DATABASE_URL="postgresql://nafkhanzam:<DATABASE_PASSWORD>@a.nafkhanzam.com/$APP_NAME-$APP_ENV"
JWT_ACCESS_KEY="localonly--JlYkjj-cmXz9L-H0Hg2ADdGrMm2KkLpYROcHl9JUqQRb_k14XZGU6FzbTq1NH7qx3G4FBm33XEe7kQCLCPaS"
JWT_REFRESH_KEY="localonly--f12klowKsjZDtqRyE3KtHEe1e2O5njSK9mxjmt-cyMwSALL_JkxODp2SyHkcCxxnGv7bAn3YXbyiT3E_BO_5"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="nafkhanzam"
AWS_SECRET_ACCESS_KEY="<AWS_SECRET_ACCESS_KEY>"
AWS_S3_BUCKET="$APP_NAME-$APP_ENV"
AWS_S3_ENDPOINT="https://s3.nafkhanzam.com"
OIDC_ISSUER="https://auth.nafkhanzam.com/application/o/$APP_NAME/"
OIDC_CLIENT_ID="<OIDC_CLIENT_ID>"
OIDC_CLIENT_SECRET="<OIDC_CLIENT_SECRET>"
OIDC_REDIRECT_URI="http://localhost:5173/auth/callback"
# OIDC_ISSUER="https://my.its.ac.id"
# OIDC_CLIENT_ID="1D4040E1-BA3E-4136-A682-BDF8345D0582"
# OIDC_CLIENT_SECRET="<OIDC_CLIENT_SECRET>"
# OIDC_REDIRECT_URI="http://localhost:5173/auth/callback"
TYPST_API_SECRET_TOKEN="<TYPST_API_SECRET_TOKEN>"
